<h2>Ошибка при создании аккаунта</h2>
<p>Пользователь уже существует, либо неверно составлен пароль:</p>
<p>- пароль должен состоять как минимум из 6 символов</p>
<p>- пароль должен содержать как минимум одну цифру от 0 до 9</p>
<p>- пароль должен содержать как минимум одну букву нижнего регистра a-z</p>
<p>- пароль должен содержать как минимум одну букву верхнего регистра A-Z</p>
<p>- пароль должен содержать как минимум один не буквенно-цифровой символ</p>
